@import "./Varibles.scss";

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 125px;
  font-family: $mainFont;
  @media (min-width: 600px) {
    height: 100vh;
  }
}

// .main {
//   grid-row: 1/2;
// }

// .div {
//   display: grid;
//   grid-template-rows: 1fr 12%;
// }
