@import "./Varibles.scss";

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 150px;
  font-family: $mainFont;
}

// .main {
//   grid-row: 1/2;
// }

// .div {
//   display: grid;
//   grid-template-rows: 1fr 12%;
// }
