.footer {
  grid-row: 2/3;
  background-color: #fadf55;
  padding: 10px 5px;

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__ul {
    display: flex;
    gap: 5px;
  }

  &__name {
    color: #0d82bb;
    font-size: 14px;
  }

  &__icon {
    color: #096492;
    font-size: 20px;
  }
}
