.footer {
  grid-row: 2/3;
  background-color: #fadf55;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nav {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // flex-direction: column;
    // align-items: flex-end;
    gap: 25px;
  }

  &__ul {
    display: flex;
    gap: 8px;
  }

  &__name {
    color: #0d82bb;
    font-size: 18px;
  }

  &__icon {
    color: #096492;
    font-size: 25px;
  }

  &__copy {
    color: #0d82bb;
    // font-size: 14px;
  }
}
