.footer {
  grid-row: 2/3;
  background-color: #fadf55;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav {
    // height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    @media (min-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      height: auto;
    }
  }

  &__ul {
    display: flex;
    gap: 8px;
  }

  &__name {
    color: #0d82bb;
    font-size: 15px;
  }

  &__icon {
    color: #096492;
    font-size: 21px;
  }

  &__copy {
    margin-top: 15px;
    color: #0d82bb;
    font-size: 15px;
    white-space: nowrap;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}
