@import './Varibles.scss';

.main__memory{
  background-image: url('../images/wood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 100px 1fr 80px;
  position: relative;
}

.memory{

  &__title{
    grid-row: 1/2;
    font-family: $gameTitle;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
  }

  &__board {
    grid-row: 2/3;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
  }

  &__footer{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 70% 30%;
  }
}

.card {
  width: 200px;
  height: 200px;
  position: relative;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
  
  &__face {
    border: solid 2px black;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    
    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__back {
    transform: rotateY(0.5turn);
    background-color: rgb(212, 212, 212);
  }
}

.card__size{

  &--nohard{
    width: 200px;
    height: 200px;
  }

  &--hard{
  width: 150px;
  height: 150px;
  }
}

.flipped {
  transform: rotateY(0.5turn);
}
.hidden {
  display: none;
}

.matched{
  background-color: green;
}


  


.buttons{
  grid-column: 1/2;
  position: relative;
}

// .button {
//  &__reset , &__return{
//     font-size: 20px;
//     border-radius: 10px;
//     padding: 15px;
//     background-color: grey;
//     color: white;
//   }

//   &__return {
//     text-decoration: none;
//     border-width: 2px;
//     border-style: outset;
//     border-color: buttonborder;
//     font-family: Arial, Helvetica, sans-serif;
//   }
// }

.message{
  font-size:25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.modal__memory{
  
  &--background{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.505);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--window{
    background-color: rgb(144, 238, 144);
    width: 700px;
    height: 500px;
    position: relative;
    z-index: 5;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
}

.modalmem{
  &__difficulty{
    
    &--legend{
      font-family: $mainFont;
      font-size: 30px;
    }

    &--content{
      display: grid;
      grid-template-columns: repeat(3, 30px 1fr);
      justify-items: center;
      align-items: center;
      gap:10px;
      margin: 20px 0;
    }

    &--label{
      font-family: $mainFont;
      font-size: 20px;
    }

    &--input{
      width: 15px;
      height: 15px;
      cursor: pointer;
      accent-color: rgb(93, 93, 93);
    }

  }

  &__theme{

    &--content{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 50px;
    }

    &--legend{
      font-family: $mainFont;
      font-size: 30px;
    }

    &--label{
      font-family: $mainFont;
      font-size: 20px;
    }

    &--figure{
      width: 150px;
      height: 150px;
    }
    
    &--img{
      width: 100%;
      height: 100%;
    }
  }
}

.modal__button--play{
  width: 50%;
  font-size: 23px;
  border-radius: 8px;
  font-family: $mainFont;
  margin-top: 30px;
  cursor: pointer;
}

.memory__button{
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marker{
  background-color: rgb(171, 171, 171);
}

.button__container--return, .button__container--reset{
    position: absolute;
    transform: translate(0, -50%);
    padding: 10px;
}

.button__container--return{
  left: 160px;
  top: 20%;
}

.button__container--reset{
  left: 20px;
  top:0;
}

.button__return, .button__reset {
  outline: none;
  box-sizing: border-box;
  height: 40px;
  //height: 100px;
  width: 0px;
  //padding: 0 20px;
  color: black;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid red;
  transition: all .7s ease;
}


.btn__return, .btn__reset{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  height: 60px;
  background-color: red;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

.btn__return i, .btn__reset i {
  font-size: 30px;
  color: white;
  line-height: 60px;
  transition: all .7s ease;
}

.button__container--return:hover .button__return {
  width: 300px;
}

.button__container--reset:hover .button__reset{
  width: 300px;
}

.button__container--return:hover i {
  transform: rotate(-360deg);
}

.button__container--reset:hover i {
  transform: rotate(-360deg);
}

.btn__return:hover {
  background-color: red;
}

.btn__reset:hover {
  background-color: red;
}

// .container{
//   position: absolute;
//   left: 48%;
//   top:45%;
//   transform: translate(-50%, -50%);
//   padding: 10px;
// }

// input{
//   outline: none;
//   box-sizing: border-box;
//   height: 60px;
//   width: 0;
//   padding: 0 20px;
//   color: black;
//   border-radius: 50px;
//   font-size: 20px;
//   border: 1px solid red;
//   transition: all .7s ease;
// }

// ::placeholder{
//   color:grey;
// }

// .btn{
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 80px;
//   height: 80px;
//   background-color: red;
//   line-height: 80px;
//   border-radius: 50%;
//   text-align: center;
//   cursor: pointer;
//   transition: .5s;
// }

// .btn i{
//   font-size: 25px;
//   color: white;
//   line-height: 80px;
//   transition: all .7s ease;
// }

// .container:hover input{
//   width: 350px;
// }

// .container:hover i {
//   transform: rotate(-360deg);
// }

// .btn:hover{
//   background-color: red;
// }







