@import "./Varibles.scss";

.main__memory {
  height: 100vh;
  grid-row: 1/3;
  background-image: url("../images/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 70px 1fr 100px;
  align-items: center;
  position: relative;
  padding: 0 10px;
  @media (min-width: 768px) {
    grid-template-rows: 100px 1fr 100px;
  }
}

.memory {
  &__title {
    // grid-row: 1/2;
    font-family: $gameTitle;
    padding: 25px;
    font-size: 30px;
    text-align: center;
    color: white;
    @media (min-width: 768px) {
      font-size: 45px;
    }
  }
  &__board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: 10px;
    max-width: 400px;
    margin: auto;
  }

  &__footer {
    // grid-row: 3/4;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.card {
  min-width: 50px;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
  @media (min-width: 768px) {
    min-width: 95px;
  }
  &__faces {
    border: solid 1.5px rgb(90, 90, 90);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transition: 1s ease-in-out;

    // &--img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   border-radius: 5px;
    // }
  }
  &__back {
    transform: rotateY(0.5turn);
    background-color: rgb(212, 212, 212);
  }
}

// .card__size {
//   &--nohard {
//     min-width: 65px;
//     aspect-ratio: 1/1;
//   }

//   &--hard {
//     min-width: 50px;
//     aspect-ratio: 1/1;
//   }
// }

.flipped {
  transform: rotateY(0.5turn);
}
.hidden {
  display: none;
}

.couples-matched-msg {
  color: white;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
