.board{
    margin: 20px;
    padding: 20px;
    border: solid 2px black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    row-gap: 20px;
    column-gap: 20px;
}

.cards{
    border: solid 2px black;
    border-radius: 5px;
    width: 120px;
    height: 120px;

    &__img{
        width: 100%;
    }

}

.hidden{
    display: none;
}

