.table {
    border: 2px solid black;
    width: 200px;
    height: 200px;

}

.even {
    background-image: url('https://i.postimg.cc/26sXYmVh/spiderduck1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.odd {
    background-image: url('https://i.postimg.cc/7hRdf7sG/batman1.png');
    background-size: contain;
    width: 200px;
    height: 200px;
}

.hidden {
    display: none
}