@import "./Varibles.scss";

.main__tictactoe {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 70px;
  background-image: url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $mainFont;
  color: blue;
}
.tictactoe {
  &__title {
    font-family: $gameTitle;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    position: relative;
    background: white;
    display: inline-block;
    mix-blend-mode: multiply;
    @media (min-width: 1024px) {
    }
    &:before {
      background: linear-gradient(
        to right,
        rgb(0, 0, 112),
        blue,
        rgb(172, 172, 246),
        rgb(255, 255, 255)
      );
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      mix-blend-mode: screen;
      top: 0;
      left: 0;
    }
  }
  &__box {
    display: flex;
    justify-content: space-around;
  }
  &__board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    align-self: center;
  }
  &__bic {
    margin-top: 120px;
    width: 300px;
    transform: rotate(-20deg);
  }
  &__players {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--names {
      margin-bottom: 10px;
    }
    &--characters {
      display: flex;
    }
    &--one,
    &--two {
      height: 100px;
      width: 100px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.board__square {
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  &--0,
  &--1,
  &--3,
  &--4 {
    border-bottom: solid 3px blue;
    border-right: solid 3px blue;
  }
  &--2,
  &--5 {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, blue, rgb(171, 171, 248)) 1;
  }
  &--6,
  &--7 {
    border-right-width: 3px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, blue, rgb(171, 171, 248)) 1;
  }
}
.buttons {
  grid-row: 3/4;
  &__link {
    text-decoration: none;
  }
}
.modal__tictactoe {
  &--background {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.505);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--window {
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 5;
    border-radius: 20px;
    padding: 15px;
    font-family: $mainFont;
    color: blue;
  }
}
.donatello {
  background-image: url("../images/Tortugas/Donatello.png");
}

.michelangelo {
  background-image: url("../images/Tortugas/Michelangelo.png");
}

.pink {
  background-image: url("../images/Power/PinkRanger.png");
}
.blue {
  background-image: url("../images/Power/BlueRanger.png");
}

.doc {
  background-image: url("../images/BTF/Doc.png");
}
.marty {
  background-image: url("../images/BTF/Marty.png");
}
.hidden {
  display: none;
}
